body{
    text-align: center;
    background: cornflowerblue;
    color: cornsilk;
    padding-top: 3em;
}


.colorChange1 {
    background: green;
}

.colorChange2 {
    background: purple;
}

.color {
    color: red;
}

.shrink {
    transform: scale(0.8);
}

.remove {
    display: none;
}

.hide {
    visibility: hidden;
}